<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<title>Customer Directory</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/css/bootstrap.min.css"
	integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
	crossorigin="anonymous">
</head>

<body>
	<div class="container">
		<h3>Item Directory</h3>
		<hr>
		<a th:href="@{/customers/showFormForAdd}"
			class="btn btn-primary btn-sm mb-3"> Add Item </a>
		<table class="table table-border table-striped">
			<thead class="thead-dark">
				<tr>
					<th>Item Name</th>
					<!-- <th>Last Name</th> -->
					<th>Description</th>
					<th>Price</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="tempCustomer : ${customers}">
					<td th:text="${tempItem.firstName}" />
					<td th:text="${tempCustomer.lastName}" />
					<td th:text="${tempCustomer.email}" />

					<td><a
						th:href="@{/customers/showFormForUpdate(customerId=${tempCustomer.id})}"
						class="btn btn-info btn-sm"> Update 
						</a> 
						<a
						th:href="@{/customers/delete(customerId=${tempCustomer.id})}"
						class="btn btn-danger btn-sm"
						onclick="if (!(confirm('Are you sure you want to delete this customer?'))) return false">
							Delete 
						</a>
			</tbody>
		</table>
	</div>
</body>


</html>